.App {
 display: flex;
 flex-direction: column;
 height: 100vh;
 
}

.inputs{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #b3e2ac;

}

body{
  margin: 0;
  padding: 0;
}


.inputs input{
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
}


.inputs button{
  width: 200px;
  height: 50px;
  border: none;
  background-color: #31502c;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 20px;
  color: white;
  margin-top: 5px;
}

.inputs button:hover{
  background-color: rgb(70, 84, 128);
}

.friendContainer{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  
  
}
.listOfFriends{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}


.friend{
  width:500px;
  height: 60px;
  background-color: #31502c;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
 

}

.friend h3{
  margin-left: 15px;
}

.listOfFriends button{
  width: 80px;
  background-color: #b3e2ac;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  border: 2px solid grey;
  

}

#removeBtn:hover{
 border-left: none;
 color: red;

}

#UpdateBtn:hover{
  color: green;
 }


